:where(html<% if (options.theme) { %>[data-theme="<%= options.theme %>"]<%} %>) {
  color-scheme: light;
  <% allTokens.forEach((token) => {
  %>
  --<%= token.name %>: <%= token.value %>;<%
  }) %>
}

:where(html[color-scheme="light"]<% if (options.theme) { %>[data-theme="<%= options.theme %>"]<%} %>) {
  color-scheme: light;
  <% allTokens.forEach((token) => {
  %>
  --<%= token.name %>: <%= token.value %>;<%
  }) %>
}
