@media (prefers-color-scheme: dark) {
  :root<% if (options.theme) { %>[data-theme="<%= options.theme %>"]<%} %> {
    color-scheme: dark;
    <% allTokens.forEach((token) => {
    %>
    --<%= token.name %>: <%= token.value %>;<%
    }) %>
  }
}

[color-scheme="dark"]<% if (options.theme) { %>[data-theme="<%= options.theme %>"]<%} %> {
  color-scheme: dark;
  <% allTokens.forEach((token) => {
  %>
  --<%= token.name %>: <%= token.value %>;<%
  }) %>
}